/* Chart */
.chart-class .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.chart-class .axis path, .chart-class .axis line {
    fill: none;
    stroke: black;
}

.chart-class .axis .tick line {
    opacity: 0.2;
}

.chart-class .axis.heatmap path {
    fill: none;
    stroke: none;
}

.chart-class .axis.heatmap2 path {
    stroke: #4B75B9;
}

.chart-class .axis.heatmap2 .tick line {
    stroke: #4B75B9;
    opacity: 1;
}

.chart-class text.heatmaprectsign {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
}
