<!DOCTYPE html>
<html>

<head>
    <title>Backbone View Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./">Backbone Memo Application</a>
        </div>
    </div>
</div>

<div id="main" class="container">
    <h2>Memo</h2>

    <form id="addForm" class="form">
        <input type="text" name="title" class="input-block-level" placeholder="タイトル"/>
        <textarea rows="5" name="content" class="input-block-level" placeholder="コンテナ"></textarea>
        <a href="#" id="addBtn" class="btn btn-primary">Add</a>
    </form>

    <div id="memoList" class="row-fluid">
    </div>
</div>
<div>複数タブー追加可能なグリッド＋グラフ　backbone,underscore,d3,bootstrap,Marionette利用</div>
<ul>
    <li>ヘッダ作成</li>
    <li>フッタ作成</li>
    <li>ボディ部作成</li>
    <li>タブ作成</li>
    <li>グリッド作成</li>
    <li>追加削除</li>
    <li>グラフ作成</li>
    <li>グラフ選択可能</li>
</ul>

<script type="text/template" id="tmpl-itemview">
    <h3><%= title %></h3>
    <p><%= content %></p>
    <p><a href="#" class="delete">delete</a></p>
</script>

<!--scrpit load-->
<script src="../js/require_config.js"></script>
<script data-main="../js/main.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.js"></script>

</body>
</html>



  